body{
    width: 1920px;
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
}
section div{
    width: 1440px;
    margin: 0 auto;
}
header, 
footer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #030303;
}
div.logo{
display:flex;
flex-direction: row;
gap: 20px;
}

.p_logo{
    font-family: 'Forum', serif;
    font-size: 28px;
    letter-spacing: 5px;
    color: white;
}
.header-container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav,
.welcome_text{
    color: white;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    font-weight: 100;
    gap: 60px;
    letter-spacing: 2px;
    
}
div.welcome{
    display: flex;
}
img.welcome{
    height: 750px;
    width: 1000px;
}
h2{
    font-family: 'Forum',serif;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
}
.welcome_button{
    background-color: #710707;
    width: 360px;
    height: 75px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    border-radius: 10%;
}
.visiting h2{
    color: #9D8665;
}

.gallery{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
}
h3{
font-family: 'Forum', serif;
font-size: 32px;
border-bottom: 1px solid #710707;
font-weight: 100;
text-transform: uppercase;
}
.welcome_text h5{
    font-size: 28px;
}
article h5{
    font-size: 22px;
    padding: 0;
    margin: 0;
}
p,a{
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-size: 18;
text-decoration: none;
}
a{
    color: white;
}
.footer_nav{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 15px;
}
.explore h2,
.explore h5{
    color: white;
}

.h2_white{
    padding-bottom: 15px;
    border-bottom: 1px solid #710707;
    color: #9D8665;
}
.section_container.explore{
    display: flex;
    flex-direction: row;
}

.gallery-section {
  padding: 75px 0;
}
.gallery-header {
  font-family: 'Forum', serif;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid #710707;
  padding-bottom: 30px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-top: 50px;
}
.gallery-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.tickets-section {
  padding: 75px 0;
}
.tickets-title {
  font-family: 'Forum', serif;
  font-size: 70px;
  text-transform: uppercase;
  color: #030303;
  border-bottom: 1px solid #710707;
  padding-bottom: 30px;
}
.tickets_content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: row;
}
.radio{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bold{
    font-size: 28px;
    font-weight: bold;
}
.buy_button{
    width: 175px;
    height: 50px;
    color: white;
    background-color: #030303;
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
}
.contacts{
    display: flex;
}
.contacts-section {
  padding: 75px 0;
  background-color: #030303;
  color: white;
}
.contacts_info{
    display: flex;
}

footer{
    background-color: #030303;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
}

.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}
.text {
    width: 100%;
display: flex;
flex-direction: column;
}
.footer_logo{
    display: flex;
    gap: 10px;
}
.footer_contacts{
    display: flex;
    gap: 15px;
}

.footer_bottom{
    border-top: 0.5px solid white;
    display: flex;
    color: white;
    justify-content: space-around;
}

.text h5{
    width: 720px;
    align-self: center;
    padding-left: 30px;
}
.video_gallery .text{
    display: flex;
    flex-direction: row;
}
.video{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.video_first{
    width: 100%;
    height: 700px;
}
.video_other{
    width: 452px;
    height: 254px;
}
.other_video{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
        section{
            padding: 75px 0;
        }
        .dark-section{
            background-color: #030303;
        }
        .video-section{
            padding-top: 90px;
        }
